<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>tab5</ion-title>
  </ion-toolbar>
</ion-header>
<app-header-tab></app-header-tab>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">tab5</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list *ngFor="let item of valoresLista">
  <ion-item href="http://{{item.url}}">  
    <ion-img src="assets/img/{{item.imagen}}"></ion-img>
  </ion-item> 
  </ion-list>
</ion-content>
